html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  top: 15px;
  left: 15px;
  bottom: 15px;
  min-width: 250px;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #007CED;
  overflow: auto;
}
.nav__about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__about-avata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.nav__about-avata img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 25px;
  object-fit: cover;
}
.nav__about-avata span {
  margin: 5px 10px;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.05);
}
.nav__about-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.nav__about-menu--list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}
.nav__about-menu--item {
  list-style: none;
}
.nav__about-menu--item span {
  cursor: pointer;
  box-sizing: content-box;
  font-family: LineIcons !important;
  font-size: 12px;
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 11px 7.5px;
  color: #fff;
  opacity: 0.8;
  font-weight: 400;
  border-radius: 30px 0 0 30px;
}
.nav__about-menu--item span:hover {
  opacity: 1;
}
.nav__about-menu--item span i {
  font-size: 20px;
  padding-right: 20px;
}
.nav__socialmedia {
  position: relative;
  max-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__socialmedia::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
}
.nav__socialmedia ul {
  padding: 0;
  display: flex;
}
.nav__socialmedia ul li {
  list-style: none;
}
.nav__socialmedia ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
}

.body {
  width: calc(100% - 250px);
  margin-left: 290px;
  transition: all 0.5s ease-in-out;
}
.body__header {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.body__header-img {
  position: absolute;
  z-index: 1;
}
.body__header-img img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
}
.body__header-name {
  display: flex;
  position: absolute;
  top: 50%;
  margin: 0;
  z-index: 2;
  background-color: transparent;
  width: 60%;
}
.body__header-name--text path {
  animation: nametext 3s infinite;
}
.body__header-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.body__header-icon img {
  position: absolute;
  z-index: 0;
}
.body__header-icon img:nth-child(1) {
  top: 20%;
  left: 20%;
  filter: blur(8px);
}
.body__header-icon img:nth-child(2) {
  top: 10%;
  right: 20%;
}
.body__header-icon img:nth-child(3) {
  bottom: 10%;
  left: 20%;
}
.body__header-icon img:nth-child(4) {
  bottom: 10%;
  right: 5%;
}
.body__header-icon img:nth-child(5) {
  top: 50%;
  left: 10%;
  filter: blur(2px);
}
.body__header-icon img:nth-child(6) {
  top: 50%;
  right: 12%;
  filter: blur(1px);
}
.body__header-icon img:nth-child(7) {
  top: 10%;
  left: 0%;
  filter: blur(3px);
}
.body__header-icon img:nth-child(8) {
  top: 30%;
  right: 20%;
}
.body__header-bottom {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 50%;
  height: 100px;
  opacity: 1;
  transition: opacity 0.5s;
  overflow: hidden;
}
.body__header-bottom--ani {
  position: absolute;
  bottom: 0;
  right: 50%;
  height: 100px;
  width: 1px;
  background-color: #333;
  animation: anihead 1s infinite;
}
.body__middle-content {
  font-size: 10px;
  letter-spacing: 1px;
  position: relative;
  padding-left: 80px;
  letter-spacing: 1px;
  font-weight: 400;
  height: auto;
}
.body__middle-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 50px;
  background-color: #333;
}
.body__middle-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  padding-bottom: 60px;
}
.body__middle-info::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-info span {
  font-weight: 200;
  font-size: 16px;
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.body__middle-info h1 {
  font-size: 36px;
  margin: 0 0 30px 0;
  text-align: center;
}
.body__middle-info--extend a {
  font-size: 12px;
  color: #333;
  text-decoration: none;
  margin: 20px;
  letter-spacing: 2px;
}
.body__middle-info--extend a:first-child {
  padding: 10px 30px;
  color: #fff;
  background-color: #007CED;
  border-radius: 40px;
}
.body__middle-info--extend a:last-child:hover {
  text-decoration: underline;
}
.body__middle-service {
  position: relative;
  padding: 50px 0 50px 0;
  width: 100%;
  display: block;
  height: auto;
}
.body__middle-service::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-service h1 {
  margin: 30px 0 100px 0;
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 700;
}
.body__middle-service--card {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.body__middle-service--card h5 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 20px;
}
.body__middle-service--card p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.body__middle-service--icon {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: #007CED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.body__middle-service--icon i {
  font-size: 24px;
  color: #fff;
}
.body__middle-works {
  width: 100%;
  display: block;
  height: auto;
  padding: 50px 0 50px 0;
  position: relative;
}
.body__middle-works::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-works--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 50px 0;
}
.body__middle-works--head h1 {
  letter-spacing: 2px;
}
.body__middle-works--list {
  display: flex;
  padding: 0;
  margin: 0;
}
.body__middle-works--list > .body__middle-works--item {
  list-style: none;
}
.body__middle-works--list > .body__middle-works--item > .body__middle-works--link {
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px 30px;
  margin: 0 4px;
  border-radius: 15px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  color: #333;
  font-weight: 400;
}
.body__middle-works--list > .body__middle-works--item > .body__middle-works--link--active {
  background-color: #007CED;
  color: #fff;
}
.body__middle-works--image {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  border-radius: 15px;
  overflow: hidden;
}
.body__middle-works--image:hover > .body__middle-works--overlay {
  opacity: 1;
}
.body__middle-works--image img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.body__middle-works--overlay {
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: -2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.body__middle-works--overlay:hover > .body__middle-works--overlay-info {
  top: 0;
}
.body__middle-works--overlay-info {
  position: relative;
  top: 90px;
  transition: all 0.5s ease-in-out;
}
.body__middle-works--overlay h5 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.body__middle-works--overlay p {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  color: #ddd;
}
.body__middle-testimonial {
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0;
  position: relative;
}
.body__middle-testimonial::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-testimonial .body__middle-content {
  width: 100%;
  left: 42%;
}
.body__middle-testimonial--control {
  position: relative;
  flex-wrap: nowrap !important;
  overflow: hidden;
  margin-top: 100px;
}
.body__middle-testimonial--btn {
  position: absolute;
  font-size: 36px;
  color: #fff;
  top: 50%;
}
.body__middle-testimonial--btn i {
  font-weight: 600 !important;
}
.body__middle-testimonial--btn.left {
  left: 5%;
}
.body__middle-testimonial--btn.right {
  right: 5%;
}
.body__middle-testimonial h1 {
  left: 42%;
  position: absolute;
  margin: 30px 0 0 0;
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 700;
}
.body__middle-testimonial::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-testimonial--slider {
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
}
.body__middle-testimonial--slider .body__middle-testimonial--card {
  padding: 50px 0;
  background-color: #007CED;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body__middle-testimonial--slider .body__middle-testimonial--card p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  width: 40%;
  line-height: 35px;
  font-weight: 400;
}
.body__middle-testimonial--avata {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}
.body__middle-testimonial--avata h4 {
  font-size: 16px;
  color: #fff;
}
.body__middle-testimonial--avata span {
  font-size: 14px;
  opacity: 0.7;
  color: #fff;
  margin-top: -10px;
}
.body__middle-testimonial--avata img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  object-fit: cover;
}
.body__middle-experience {
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0;
  position: relative;
}
.body__middle-experience::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-experience h1 {
  margin: 30px 0 50px 0;
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 700;
}
.body__middle-experience--header {
  margin-bottom: 30px;
}
.body__middle-experience--header--content {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.body__middle-experience--header--right {
  display: flex;
  flex-direction: column;
}
.body__middle-experience--header--info {
  border: 1px solid #eee;
  box-shadow: -1px 0px 7px 0 #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  letter-spacing: 1px;
  font-weight: 700;
}
.body__middle-experience--header--info-name {
  flex: 3;
  text-align: center;
  font-weight: 400;
  opacity: 0.8;
}
.body__middle-experience--header--info-year {
  flex: 3;
}
.body__middle-experience--header--info-year h6 {
  float: right;
  padding: 10px 20px;
  background-color: red;
  margin-right: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 500;
}
.body__middle-experience--header--info-year h6.g {
  color: #007CED;
  background-color: rgba(0, 123, 255, 0.1);
}
.body__middle-experience--header--info-year h6.f {
  color: #28a745;
  background: rgba(40, 167, 69, 0.1);
}
.body__middle-experience--header--info-year h6.e {
  background: rgba(220, 53, 69, 0.1);
  color: #dc3545;
}
.body__middle-experience--header--info-data {
  flex: 5;
}
.body__middle-experience--header--info-data h5 {
  font-size: 16px;
}
.body__middle-experience--header--info-data p {
  width: 80%;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 400;
  line-height: 20px;
}
.body__middle-experience--footer > .col {
  padding: 0 !important;
}
.body__middle-experience--footer > .col > .row {
  margin: 0;
}
.body__middle-experience--footer--content {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.body__middle-experience--footer--card {
  border: 1px solid #eee;
  box-shadow: -1px 0px 7px 0 #eee;
  letter-spacing: 1px;
  padding: 20px;
  margin-bottom: 16px;
}
.body__middle-experience--footer--card h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}
.body__middle-experience--footer--card h6 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 10px 20px;
  display: inline;
  border-radius: 5px;
  margin: 10px 0;
}
.body__middle-experience--footer--card h6.g {
  color: #007CED;
  background-color: rgba(0, 123, 255, 0.1);
}
.body__middle-experience--footer--card h6.f {
  color: #28a745;
  background: rgba(40, 167, 69, 0.1);
}
.body__middle-experience--footer--card h6.e {
  background: rgba(220, 53, 69, 0.1);
  color: #dc3545;
}
.body__middle-experience--footer--card h6.i {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
}
.body__middle-experience--footer--card p {
  margin: 30px 0 20px 0;
}
.body__middle-articles {
  position: relative;
  padding: 50px 0 50px 0;
  width: 100%;
  display: block;
  height: auto;
}
.body__middle-articles::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-articles h1 {
  margin: 30px 0 50px 0;
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 700;
}
.body__middle-articles--card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}
.body__middle-articles--card:hover {
  cursor: pointer;
}
.body__middle-articles--card h6 {
  margin: 15px 0 20px 0;
  margin-left: 25px;
  padding: 10px 20px;
  font-size: 14px !important;
  font-weight: 500;
  flex: 1;
  max-width: 97px;
  border-radius: 5px;
}
.body__middle-articles--card h6.g {
  color: #007CED;
  background-color: rgba(0, 123, 255, 0.1);
}
.body__middle-articles--card h6.f {
  color: #28a745;
  background: rgba(40, 167, 69, 0.1);
}
.body__middle-articles--card h6.e {
  background: rgba(220, 53, 69, 0.1);
  color: #dc3545;
}
.body__middle-articles--card span {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 70%;
  line-height: 20px;
}
.body__middle-articles--img {
  width: 100%;
  position: relative;
}
.body__middle-articles--img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.body__middle-articles--blur {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  transition: all 0.5s ease-in-out;
}
.body__middle-articles--blur span {
  margin: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.body__middle-contact {
  position: relative;
  padding: 50px 0 50px 0;
  width: 100%;
  display: block;
  height: auto;
}
.body__middle-contact::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.body__middle-contact h1 {
  margin: 30px 0 50px 0;
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 700;
}
.body__middle-contact--gettouch {
  margin-bottom: 50px;
}
.body__middle-contact--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.body__middle-contact--card a {
  color: #333;
  margin-bottom: 20px;
}
.body__middle-contact--card a:hover {
  text-decoration: none;
}
.body__middle-contact--card span {
  color: #5F6F81;
  font-size: 14px;
  font-weight: 100;
}
.body__middle-contact--img i {
  font-size: 24px;
  padding: 15px 15px;
  color: #fff;
  border-radius: 5px;
  background-color: #007CED;
  margin-bottom: 20px;
}
.body__middle-contact-form input {
  border: 1px solid #eee;
  width: 100%;
  border-radius: 30px;
  outline: none;
  margin-bottom: 15px;
  padding: 15px 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.body__middle-contact-form textarea {
  resize: none;
  border: 1px solid #eee;
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 30px;
}
.body__middle-contact-form a {
  font-weight: 100;
  padding: 12px 40px;
  text-decoration: none;
  background-color: #007CED;
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  border-radius: 20px;
}
.body__middle-contact-form-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  opacity: 0.6;
  font-weight: 100;
  font-size: 14px;
  color: #333;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.btn__responsive {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #333;
  z-index: 999999;
  display: none;
}
.btn__responsive:hover {
  cursor: pointer;
}
.btn__responsive span {
  left: 20%;
  transition: all 0.4s ease-in-out;
  margin: 3px 0;
}
.btn__responsive span:nth-child(1) {
  position: absolute;
  top: 12.5px;
  width: 65%;
  height: 5px;
  background-color: #fff;
}
.btn__responsive span:nth-child(1).open {
  transform: rotate(145deg);
  top: 20px;
}
.btn__responsive span:nth-child(2) {
  position: absolute;
  top: 22.5px;
  width: 65%;
  height: 5px;
  background-color: #fff;
}
.btn__responsive span:nth-child(2).open {
  opacity: 0;
}
.btn__responsive span:nth-child(3) {
  position: absolute;
  top: 32.5px;
  width: 65%;
  height: 5px;
  background-color: #fff;
}
.btn__responsive span:nth-child(3).open {
  transform: rotate(-145deg);
  top: 20px;
}

/*# sourceMappingURL=style.css.map */
